article {
	padding-top: 50px;
	padding-bottom: 25px;
}
img {
	width: 50%;
	border-radius: 50px;
	
	margin-right: 10px;
}

body {
	background-color: #CDCDCD;
}
p {
	color: #0C0B1E;
}
.important {
	font-weight: bolder;
	font-size: 50px;
}

.content_wrapper {
	margin-right: auto; /* 1 */
	margin-left: auto; /* 1 */
	max-width: 80%; /* 2 */
	padding-right: 20px; /* 3 */
	padding-left: 20px; /* 3 */
	background-color: #eee;
}

#navbar {
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 30px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}